{% extends "base.html" %}
{% block left_content %}
	<h3>Header</h3>
	<ul class="nav">
		<li><a href="{{ course.get_absolute_url }}">Úprava kurzu</a></li>
		<li><a href="{{ course.get_coursemembers_url }}">Účastníci kurzu</a></li>
		<li><a href="#">Lekcie</a></li>
		<li><a href="{{ course.get_expensegroups_url }}">Nákladové skupiny</a></li>
		<li class="last"><a href="#">Dollar Lorem Ipsum</a></li>
	</ul>
	<a href="#" class="link">Link here</a>
	<a href="#" class="link">Link here</a>
{% endblock %}