{% extends "courses/base.html" %}
{% load i18n listtable %}
{% block content %}
	<div class="top-bar">
		{% if perms.courses.add_course %}<a href="{% url courses_course_create %}" class="button">{% trans "Pridať" %}</a>{% endif %}
		<h1>{% trans "Zoznam kurzov" %}</h1>
		<div class="breadcrumbs"><a href="#">Homepage</a> / <a href="#">Contents</a></div>
	</div><br />
	<div class="select-bar">
		<form>
			{% include "form_inline.html" %}
		   <input type="submit" name="Submit" value="Search" />
		</form>
	</div>
	{% listtable object_list _("Kurz") %}
{% endblock %}