{% extends "courses/base.html" %}
{% load i18n %}

{% block head %}
<script type="text/javascript">
	var show_hodnotenia = function() {
		$(".hodnotenie").show();
		$(".show_hodnotenia").hide();
		$(".hide_hodnotenia").show();
	};
	var hide_hodnotenia = function() {
		$(".hodnotenie").each(function(index, element) {
			if (index > 2) {
				$(element).hide();
			}
		});
		$(".show_hodnotenia").show();
		$(".hide_hodnotenia").hide();
	};
	$(function() {
			$(".hodnotenie:last").after("<tr class='show_hodnotenia'><td colspan='2'><a href='javascript:show_hodnotenia();'>{% trans "Zobraziť všetky" %}</a></td></tr>");
			$(".hodnotenie:last").after("<tr class='hide_hodnotenia'><td colspan='2'><a href='javascript:hide_hodnotenia();'>{% trans "Skryť" %}</a></td></tr>");
			hide_hodnotenia();
	});
</script>
{% endblock %}

{% block content %}
	<div class="top-bar">
		<h1>{% if object.pk %}{% trans "Upraviť účastníka" %}  {{ object }}{% else %}{% trans "Vytvoriť účastníka kurzu" %}{% endif %}</h1>
		<div class="breadcrumbs"><a href="#">Homepage</a> / <a href="#">Contents</a></div>
	</div><br />
	<h2>{% trans "Študent" %} {{ object.student }}</h2>
	<div class="table">
		<form method="post">
			<table class="listing form" cellpadding="0" cellspacing="0">
			{% include "form_table.html" %}
			</table>
			
			{% if object %}
			{{ coursememberreference_formset.management_form }}
			<table class="listing form" cellpadding="0" cellspacing="0">
				<caption>{% trans "Hodnotenia" %}</caption>
			{% with coursememberreference_formset as formset %}
				{% for form in formset.forms reversed %}
				  {% if forloop.first %}
				  <thead><tr>
				  	<th>{% trans "Hodnotenie" %}</th>
				  	<th>{% trans "Delete" %}</th>
				  </tr></thead>
				  {% endif %}
				  <tr class="{% cycle '' 'bg' %} hodnotenie">
				  <td style="text-align: left;">
				  	{# Include the hidden fields in the form #}
				      {% for hidden in form.hidden_fields %}
				      {{ hidden }}
				      {% endfor %}
				    {{ form.date.label_tag }}:{{ form.date }}<br/>
				    {{ form.text.label_tag }}:{{ form.text }}
				  </td>
				  <td>
				    {{ form.DELETE }}
				  </td>
				  </tr>
				{% endfor %}
			{% endwith %}
			</table>
			{% endif %}
					
			<input type="submit" value="{% trans "Uložiť" %}"/>
		</form>
	</div>
{% endblock %}
