{% extends "courses/base.html" %}
{% load i18n listtable %}
{% block content %}
	<div class="top-bar">
		<a href="{% url courses_expensegroup_create course.pk %}" class="button">{% trans "Pridať" %}</a>
		<h1>{% trans "Zoznam nákladových skupín" %}</h1>
		<div class="breadcrumbs"><a href="#">Homepage</a> / <a href="#">Contents</a></div>
	</div><br />
	<div class="select-bar">
	TODO: Doplnit filter
	   <label> <input type="text" name="textfield" /> </label>
	   <label> <input type="submit" name="Submit" value="Search" />
	</label>
	</div>
	{% listtable object_list _("Nákladová skupina") %}
{% endblock %}