{% extends "courses/base.html" %}
{% load i18n %}

{% block content %}
	<div class="top-bar">
		<h1>{% trans "Upraviť prezenčku lekcie" %}  {{ object }}</h1>
		<div class="breadcrumbs"><a href="#">Homepage</a> / <a href="#">Contents</a></div>
	</div><br />
	<div class="table">
		<form method="post">{% csrf_token %}
			<table class="listing form" cellpadding="0" cellspacing="0">
			</table>
			<table class="listing form" cellpadding="0" cellspacing="0">
			{% include "form_table.html" %}
			</table>
			
			
			{{ lessonattendee_formset.management_form }}
			<table class="listing form" cellpadding="0" cellspacing="0">
				<caption>{% trans "Účastníci" %}</caption>
			{% with lessonattendee_formset as formset %}
				{% include "formset_inlinetable.html" %}
			{% endwith %}
			</table>
					
			<input type="submit" value="{% trans "Uložiť" %}"/>
		</form>
	</div>
	
{% endblock %}