{% extends "book_stock/base.html" %}
{% load i18n listtable %}
{% block content %}
	<div class="top-bar">
		{% if perms.book_stock.add_book %}<a href="{% url stock_book_create %}" class="button">{% trans "Pridať" %}</a>{% endif %}
		<h1>{% trans "Zoznam kníh" %}</h1>
		<div class="breadcrumbs"><a href="#">Homepage</a> / <a href="#">Contents</a></div>
	</div><br />
	<div class="select-bar">
		<form>
			{% include "form_inline.html" %}
		   <input type="submit" name="Submit" value="Search" /> 
		</form>
	</div>
	{% listtable object_list _("Kniha") %}
{% endblock %}