{% extends "book_stock/base.html" %}
{% load i18n generic_views_tags %}
{% block content %}
	<div class="top-bar">
		<h1>{% trans "Upraviť výdajku knihu" %}  {{ object }}</h1>
		<div class="breadcrumbs"><a href="#">Homepage</a> / <a href="#">Contents</a></div>
	</div><br />
	<div class="table">
		<form method="post">
			<table class="listing form" cellpadding="0" cellspacing="0">
			<tr class="">
				<td class="first"><b>{% trans "Kniha" %}</b>:</td> 
				<td class="last">{% entitylink object.book %}</td>
			</tr>
			<tr class="bg">
				<td class="first"><b>{% trans "Osoba" %}</b>:</td> 
				<td class="last">{% entitylink object.person %}</td>
			</tr>
			<tr class="">
				<td class="first"><b>{% trans "Vydané" %}</b>:</td> 
				<td class="last">{{ object.delivered|date }}</td>
			</tr>
			<tr class="bg">
				<td class="first"><b>{% trans "Vrátené" %}</b>:</td> 
				<td class="last">{{ object.returned|date }}</td>
			</tr>
			<tr class="">
				<td class="first"><b>{% trans "Skladová položka" %}</b>:</td> 
				<td class="last">{{ object.stock_object }}</td>
			</tr>
			
			</table>
		</form>
	</div>
{% endblock %}