{% extends "book_stock/base.html" %}
{% load i18n listtable generic_views_tags %}
{% block content %}
	<div class="top-bar">
		{% if perms.book_stock.add_book %}<a href="{% url stock_book_create %}" class="button">{% trans "Pridať" %}</a>{% endif %}
		<h1>{% trans "Vydať knihy" %}</h1>
		<div class="breadcrumbs"><a href="#">Homepage</a> / <a href="#">Contents</a></div>
	</div><br />
	
	<div class="table">
		<form method="post">{% csrf_token %}
			{{ formset.management_form }}	
			<table class="listing form" cellpadding="0" cellspacing="0">
				<caption>{% trans "Objednávky" %}</caption>
				{% for form in formset.forms %}
				  {% if forloop.first %}
				  <thead><tr>
				  	<th>{% trans "Kniha" %}</th>
				    {% for field in form.visible_fields %}
				    <th>{{ field.label|capfirst }}</th>
				    {% endfor %}
				  </tr></thead>
				  {% endif %}
				  <tr class="{% cycle '' 'bg' %}">
				  	<td><a href="{{ form.book_order_object.book.get_absolute_url }}">{{ form.book_order_object.book }}</a></td>
				  {% for field in form.visible_fields %}
				    <td>
				    {# Include the hidden fields in the form #}
				    {% if forloop.first %}
				      {% for hidden in form.hidden_fields %}
				      {{ hidden }}
				      {% endfor %}
				    {% endif %}
				      {{ field.errors.as_ul }}
				      {{ field }}
				    </td>
				  {% endfor %}
				  </tr>
				{% endfor %}
			</table>
		<input type="submit" value="Uložiť"/>
		</form>
	</div>
{% endblock %}