<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Insert title here</title>
	<link rel="StyleSheet" href="{{ MEDIA_URL }}css/all.css" type="text/css" media="screen"/>
</head>
<body class="{% block body_class %}{% endblock %}">
<div id="main">
	<div id="header">
		<a href="index.html" class="logo"><img src="img/logo.gif" width="101" height="29" alt="" /></a>
		<ul id="top-navigation">
			<li class="homepage"><span><span><a href="">Homepage</a></span></span></li>
			<li class="courses"><span><span><a href="{% url courses_course_list %}">Kurzy</a></span></span></li>
			<li class="companies"><span><span><a href="{% url companies_company_list %}">Firmy</a></span></span></li>
			<li class="lectors"><span><span><a href="{% url lectors_lector_list %}">Lektori</a></span></span></li>
			<li class="students"><span><span><a href="{% url students_student_list %}">Študenti</a></span></span></li>
			<li class="buildings"><span><span><a href="{% url buildings_building_list %}">Budovy</a></span></span></li>
			<li class="prehlady"><span><span><a href="#">Prehľady</a></span></span></li>
		</ul>
	</div>
	<div id="middle">
		<div id="left-column">
			{% block left_content %}
			{% endblock %}
		</div>
		<div id="center-column">
			{% block content %}
			{% endblock %}
		</div>
		<div id="right-column">
		    {% for message in messages %}
			    <strong class="h">INFO</strong>
				<div class="box">{{ message }}</div>
		    {% endfor %}
	  </div>
	  
	</div>
	<div id="footer"></div>
</div>
</body>
</html>