{% load i18n generic_views_tags %}<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Insert title here</title>
	<link rel="StyleSheet" href="{{ MEDIA_URL }}css/all.css" type="text/css" media="screen"/>
	<link rel="StyleSheet" href="{{ MEDIA_URL }}jquery/css/jquery-ui-1.7.2.custom.css" type="text/css" media="screen"/>
	<link rel="StyleSheet" href="{{ MEDIA_URL }}jquery/css/jquery.timepickr.css" type="text/css" media="screen"/>
	<script src="{{ MEDIA_URL }}jquery/jquery-1.3.2.min.js"></script>
	<script src="{{ MEDIA_URL }}jquery/jquery-ui-1.7.2.custom.min.js"></script>
	<script src="{{ MEDIA_URL }}jquery/jquery-ui-i18n.min.js"></script>
	<script src="{{ MEDIA_URL }}jquery/jquery.utils.js"></script>
	<script src="{{ MEDIA_URL }}jquery/jquery.strings.js"></script>
	<script src="{{ MEDIA_URL }}jquery/jquery.timepickr.js"></script>
	<script src="{{ MEDIA_URL }}datepicker/datepicker.js"></script>
	{% block head %}
	{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
<div id="main">
	<div id="header">
		<a href="index.html" class="logo"><img src="img/logo.gif" width="101" height="29" alt="" /></a>
		<ul id="top-navigation">
			<li class="homepage"><span><span><a href="{% url home %}">Homepage</a></span></span></li>
			{% hasmoduleperms courses %}
			<li class="courses"><span><span><a href="{% url courses_course_list %}">Kurzy</a></span></span></li>
			{% endhasmoduleperms %}
			{% hasmoduleperms companies %}
			<li class="companies"><span><span><a href="{% url companies_company_list %}">Firmy</a></span></span></li>
			{% endhasmoduleperms %}
			{% hasmoduleperms lectors %}
			<li class="lectors"><span><span><a href="{% url lectors_lector_list %}">Lektori</a></span></span></li>
			{% endhasmoduleperms %}
			{% hasmoduleperms students %}
			<li class="students"><span><span><a href="{% url students_student_list %}">Študenti</a></span></span></li>
			{% endhasmoduleperms %}
			{% hasmoduleperms buildings %}
			<li class="buildings"><span><span><a href="{% url buildings_building_list %}">Budovy</a></span></span></li>
			{% endhasmoduleperms %}
			{% if perms.companies.can_see_invoice or perms.courses.can_see_lesson_plan or perms.companies.can_see_added_value or perms.courses.can_see_lesson_analysis %}
			<li class="reports"><span><span><a href="{% url reports %}">Prehľady</a></span></span></li>
			{% endif %}
			<li class="password-change"><span><span><a href="{% url password-change %}">{% trans "Zmeniť heslo" %}</a></span></span></li>
			{% if user.student %}
			<li class="studentbook"><span><span><a href="{% url studentbook %}">Žiacka knižka</a></span></span></li>
			{% endif %}
			{% if user.company_set.all %}
			<li class="companybook"><span><span><a href="{% url companybook %}">Údaje o platiteľovi</a></span></span></li>
			{% endif %}
			<li class="logout"><span><span><a href="{% url logout %}">{% trans "Odhlásiť" %}</a></span></span></li>
		</ul>
	</div>
	<div id="middle">
		<div id="left-column">
			{% block left_content %}
			{% endblock %}
		</div>
		<div id="center-column">
			{% block content %}
			{% endblock %}
		</div>
		<div id="right-column">
		    {% for message in messages %}
			    <strong class="h">INFO</strong>
				<div class="box">{{ message }}</div>
		    {% endfor %}
	  </div>
	  
	</div>
	<div id="footer"></div>
</div>
</body>
</html>