{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} students{% endblock %}

{% block left_content %}
	{% if student.pk %}
	<h3>{% trans "Študent" %} {{ student }}</h3>
	<ul class="nav">
		<li><a href="{{ student.get_absolute_url }}">{% trans "Úprava študenta" %}</a></li>
		<li><a href="{{ student.get_set_password_url }}">{% trans "Nastaviť heslo" %}</a></li>
		<li class="last"><a href="{{ student.get_courses_url }}">{% trans "Navštevované kurzy" %}</a></li>
	</ul>
	{% endif %}
{% endblock %}