{% extends "students/base.html" %}
{% load i18n listtable%}
{% block content %}
	<div class="top-bar">
		<a href="{% url students_student_create %}" class="button">{% trans "Pridať" %}</a>
		<h1>{% trans "Zoznam kurzov pre študenta" %} {{ student }}</h1>
		<div class="breadcrumbs"><a href="#">Homepage</a> / <a href="#">Contents</a></div>
	</div><br />
	<div class="select-bar">
		<form>
			{% include "form_inline.html" %}
		    <input type="submit" name="Submit" value="Search" />
		</form>
	</div>
	
	{% table object in object_list %}
	<th>{% trans "Kurz" %}</th>
	<th>{% trans "Termín" %}</th>
	<th>{% trans "Akcie" %}</th>
	{% rows %}
	<tr class="{{ tr_class }}">
		<td class="first">
			<b> {% if perms.courses.change_course %}
				<a href="{{ object.course.get_absolute_url }}">{{ object.course }}</a>
			{% else %}
				{{ object.course }}
			{% endif %}</b>
		</td>
		<td>{{ object.duration }}</td>
		<td>
			{% if perms.courses.change_coursemember %}
			<a href="{{ object.get_absolute_url }}"><img src="{{ MEDIA_URL }}img/edit-icon.gif" width="16" height="16" /></a>
			{% endif %}
		</td>
	</tr>
	{% endtable %}
{% endblock %}
