{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} lectors{% endblock %}

{% block left_content %}
	{% if lector.pk %}
	<h3>{% trans "Lektor" %} {{ lector }}</h3>
	<ul class="nav">
		<li><a href="{{ lector.get_absolute_url }}">{% trans "Úprava lektora" %}</a></li>
		{% if perms.lectors.add_contract or perms.lectors.change_contract %}
		<li><a href="{{ lector.get_contracts_url }}">{% trans "Zmluvy" %}</a></li>
		{% endif %}
		<li><a href="{{ lector.get_bookorders_url }}">{% trans "Objednávky kníh" %}</a></li>
		<li><a href="{{ lector.get_books_url }}">{% trans "Vydané knihy" %}</a></li>
		<li class="last"><a href="{{ lector.get_courses_url }}">{% trans "Vyučované kurzy" %}</a></li>
	</ul>
	{% endif %}
{% endblock %}