{% extends "lectors/base.html" %}
{% load i18n listtable%}
{% block content %}
	<div class="top-bar">
		<a href="{% url lectors_lector_create %}" class="button">{% trans "Pridať" %}</a>
		<h1>{% trans "Zoznam lektorov" %}</h1>
		<div class="breadcrumbs"><a href="#">Homepage</a> / <a href="#">Contents</a></div>
	</div><br />
	<div class="select-bar">
		<form>
			{% include "form_inline.html" %}
		   <label> <input type="submit" name="Submit" value="Search" />
		</form>
	</div>
	
	{% listtable object_list _("Firma") %}
{% endblock %}
