{% extends "courses/base.html" %}
{% load i18n %}

{% block head %}
	{{ block.super }}
	<script type="text/javascript">
	<!--
	var test_changed = function() {
		var fields = $("#id_testing-name, #id_testing-description, #id_testing-max_score").parents("tr");
		if ($("#id_testing-student_test").val()) {
			fields.hide();
		} else {
			fields.show();
		}
	};
	$(function() {
		$("#id_testing-student_test").change(test_changed);
		test_changed();
	});
	//-->
	</script>
{% endblock %}

{% block content %}
	<div class="top-bar">
		<h1>Pridať testovanie</h1>
		<div class="breadcrumbs"><a href="#">Homepage</a> / <a href="#">Contents</a></div>
	</div>
	<form action="." method="post">{% csrf_token %}
		<br />
		<table class="listing form" cellpadding="0" cellspacing="0">
				{% include "form_table.html" %}
		</table>
		<br/>
		<table class="listing" cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th>{% trans "Študent" %}</th>
					<th>{% trans "Skóre" %}</th>
				</tr>
			</thead>
		{% for course_member, form_result in form_results %}
			<tr valign="top" class="{% cycle 'bg' '' as rowcolor %}">
				<td>{{ course_member }}</td>
				<td>
					{{ form_result.score }}{% if form_result.score.errors %}<div class="error">{{ form_result.score.errors|join:", " }}</div>{% endif %}
					{{ form_result.course_member }}
				</td>
			</tr>		
			<tr class="{{ rowcolor }}">
				<td colspan="2" align="left">
					{{ form_result.description.label_tag }}<br/>
					{{ form_result.description }}
					{% if form_result.description.errors %}<div class="error">{{ form_result.description.errors|join:", " }}</div>{% endif %}
					{% if form_result.non_form_errors %}<div class="error">{{ form_result.non_form_errors|join:", " }}</div>{% endif %}
				</td>
			</tr>
		{% endfor %}
		</table>
		<input type="submit" value="{% trans "Uložiť" %}"/>
	</form>
{% endblock %}